$primaryFont: Lato;
$accentFont: Georgia;
$accentLogoFont: Avenir Black;
$accentFooterFont: "Poppins Medium";

$primaryBlackColor: #424242;
$primaryGreyColor: #484848;
$accentBlackColor: #292929;
$accentGreenColor: #01996d;
$accentWhiteColor: #ffffff;
$btnBgndColor: #080809;
$accentBgndColor: #245852;
$primaryBgndColor: #e5e5e5;
$dividerColor: #d6d6d6;
